/* >>>> GENERAL <<<<*/
/* >>>> GENERAL <<<<*/
/* >>>> GENERAL <<<<*/
* {
	box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.separator {
    border: none;
    margin: 1rem 0;
    height: 2px;
}
.overlay {
    background-color: black;
    opacity: 0.5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title-separator-section {
    color: #E8B10F;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .575rem .95rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
}
.btn-grey {
    background-color: #e1e1e1;
    color: black;
}
.btn-lkd, .btn-fb {
    color: #fff;
}
.btn-lkd {
    background-color: #0976b4;
}
.btn-fb {
    background-color: #3b5998;
}


/* >>>> HEADER <<<<*/
/* >>>> HEADER <<<<*/
/* >>>> HEADER <<<<*/
    /* NAVBAR */
.nav-path .fa-home {
    color: #777777;
    font-size: 14px;
}
.nav-path .fa-chevron-double-right {
    color: #cccccc;
    font-size: 11px;
}
.nav-path .nav-offers-list,
.nav-path span {
    font-size: 12px;
}
.nav-path .nav-offers-list {
    color: #2a408b;
    text-decoration: none;
}
.nav-path .nav-offers-list:hover {
    color: #0c9ec7;
    text-decoration: underline;
}
.nav-path span {
    color: #777777;
}



/* >>>> SECTION TOP / IMG OVERLAY <<<<*/
/* >>>> SECTION TOP / IMG OVERLAY <<<<*/
/* >>>> SECTION TOP / IMG OVERLAY <<<<*/
.section-top {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8rem 0 5.5rem;
}
.section-top.top-img-bg {
    background-image: url('img/fond1intro.jpg');
    background-position: 0 -250px;
    background-size: cover;
    /*min-height: 250px;*/
}
.section-top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.section-top .container {
    z-index: 999;
}
.section-top .section-top-info-content {
    margin: auto;
    max-width: 75%;
    text-align: center;
    color: #fff;
}
.section-top .section-top-info-content h1 {
    font-size: 35px;
    font-weight: 400;
}
.section-top-info-content hr.separator {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
}
.section-top-info-content .section-top-p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
}



/* >>>> SECTION MAIN <<<<*/
/* >>>> SECTION MAIN <<<<*/
/* >>>> SECTION MAIN <<<<*/
.section-main {
    margin-top: 2.5rem;
}
.section-main h2,
.section-main h3 {
    text-transform: uppercase;
}
.section-main .job-offer-content i {
    color: #7A7A7A;
    font-size: 45px;
}
.section-main > .container > .title-separator-section h2 {
    font-size: 40px;
    font-weight: 500;
}
.section-main hr.separator {
    background: linear-gradient(to right, rgba(208, 208, 208, 1) 0%, rgba(208, 208, 208, 0) 100%);
}

/* >>>> JOB OFFER<<<< */
.job-offer-content {
    width: 75%;
    float: left;
}

.job-offer-section {
    display: flex;
}
.job-offer-section:not(:last-child) {
    display: flex;
    margin-bottom: 1.5rem;
}
.job-offer-section .job-offer-icon {
    min-width: 60px;
}
.job-offer-section .job-offer-text {
    margin-left: 1.5rem;
}
.job-offer-section .job-offer-text h3 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #E8B10F;
}
.job-offer-section .job-offer-text p {
    font-size: 17px;
    color: #9c9c9c;
    margin-bottom: 1rem;
}
.job-offer-section .job-offer-text ul {
    padding: 0;
    list-style-type: none;
    font-size: 17px;
    color: #9c9c9c;
    margin-bottom: 1rem;
}
.job-offer-section .job-offer-text ul li::before {
    content: "- ";
}

/* >>>> ASIDE <<<< */
.aside-job-offer {
    float: right;
}
.aside-job-offer > .btn i {
    margin-left: 0.6rem;
}
.aside-job-offer span {
    color: #E8B10F;
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 0.7rem;

}
.aside-job-offer > div {
    margin-bottom: 1.5rem;
}
.aside-informations {
    display: flex;
    flex-direction: column;
}
.aside-informations a {
    color: #2a408b;
    text-decoration: none;
}
.aside-informations a:hover {
    color: #0c9ec7;
}
.aside-informations a i {
    margin-right: 0.5rem;
}
.aside-apply span {
    display: block;
}


/* >>>> SECTION CONTACT <<<< */
/* >>>> SECTION CONTACT <<<< */
/* >>>> SECTION CONTACT <<<< */
.section-contact {
    clear: both;
    background-color: #fafafa;
    border-top: 1px solid #e8e8e8;
    padding-top: 2.5rem;
}
.section-contact .title-separator-section h2 {
    font-size: 30px;
    font-weight: 400;
}
.section-contact hr.separator {
    background: linear-gradient(to right, rgba(208, 208, 208, 1) 0%, rgba(208, 208, 208, 0) 100%);
}
.contact-form-container {
    width: 60%;
}
.contact-form-container span{
    font-size: 25px;
    font-weight: 300;
    color: #777777;
}
.contact-form-container form {
    margin-top: 1.5rem;
}
.contact-form-container form .input-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    position: relative;
}
.contact-form-container form .input-content i {
    position: absolute;
    right: 20px;
    top: 55%;
    color: #777777;
}
.contact-form-container form .input-content input[type=text],
.contact-form-container form .input-content input[type=email],
.contact-form-container form .input-content select {
    height: 45px;
    background-color: #fff;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3rem;
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 36%);
}
.contact-form-container form .input-content label {
    color: #777777;
    margin-bottom: 5px;
}
.contact-form-container form .checkbox-content {
    display: flex;
}
.contact-form-container form .checkbox-content label {
    color: #E8B10F;
    margin-left: 1rem;
}
.contact-form-container form .file-size-info {
    color: #E8B10F;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* >>>> !!! MEDIA QUERY !!! <<<< */
/* >>>> !!! MEDIA QUERY !!! <<<< */
/* >>>> !!! MEDIA QUERY !!! <<<< */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
*/